@import url('https://fonts.googleapis.com/css?family=Mukta+Vaani');

body{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, p{
    margin-top: 0;
}

*{
    font-family: 'Mukta Vaani', sans-serif;
}

h1, h2{
    font-family: 'Mukta Vaani', sans-serif;
}

h4{
    color: #00cc00;
}

/*  HEADER  */
header{
    background-color: #222222;
    color: #ffffff;
    padding-top: 14px;
}

header>h1{
    padding-left: 10px;
    text-shadow: 1px 1px 1px #bcd5d1;
}


/*  MAIN  */
main{
    background-color: #222222;
    color: #ffffff;
    min-height: 300px;
    padding: 15px;
}

/*  FOOTER  */
footer{
    background-color: #222222;
    color: #ffffff;
    padding: 5px 0 5px 10px;
}


/*  NAVIGATION  */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}
